In [26]:
import pandas as pd

In [27]:
data = pd.read_csv("Bird Strike Cleaned.csv")

In [28]:
data

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,11/23/00 0:00,Caused damage,...,False,False,Medium,No Cloud,Unknown bird - medium,N,30736,1500,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,7/25/01 0:00,Caused damage,...,False,False,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,9/14/01 0:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,9/5/02 0:00,No damage,...,True,False,Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,6/23/03 0:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24741,319672,Airplane,SACRAMENTO INTL,< 1000 ft,B-737-700,1,1,NaN,12/29/11 0:00,No damage,...,True,True,Medium,No Cloud,Mallard,Y,0,10,0,Yes
24742,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,NaN,12/30/11 0:00,No damage,...,False,False,Large,Overcast,Unknown bird - large,N,0,1500,0,No
24743,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,NaN,12/30/11 0:00,No damage,...,False,False,Small,Some Cloud,Tree swallow,Y,0,0,0,No
24744,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,NaN,12/31/11 0:00,No damage,...,False,False,Medium,Some Cloud,Unknown bird - medium,Y,0,0,0,Yes
24745,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,NaN,12/31/11 0:00,Caused damage,...,True,False,Medium,No Cloud,Red-tailed hawk,N,0,0,0,Yes

In [29]:
data.head()

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,11/23/00 0:00,Caused damage,...,False,False,Medium,No Cloud,Unknown bird - medium,N,30736,1500,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,7/25/01 0:00,Caused damage,...,False,False,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,9/14/01 0:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,9/5/02 0:00,No damage,...,True,False,Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,6/23/03 0:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No

In [30]:
data.tail()

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
24741,319672,Airplane,SACRAMENTO INTL,< 1000 ft,B-737-700,1,1,NaN,12/29/11 0:00,No damage,...,True,True,Medium,No Cloud,Mallard,Y,0,10,0,Yes
24742,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,NaN,12/30/11 0:00,No damage,...,False,False,Large,Overcast,Unknown bird - large,N,0,1500,0,No
24743,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,NaN,12/30/11 0:00,No damage,...,False,False,Small,Some Cloud,Tree swallow,Y,0,0,0,No
24744,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,NaN,12/31/11 0:00,No damage,...,False,False,Medium,Some Cloud,Unknown bird - medium,Y,0,0,0,Yes
24745,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,NaN,12/31/11 0:00,Caused damage,...,True,False,Medium,No Cloud,Red-tailed hawk,N,0,0,0,Yes

In [31]:
data.describe()

,Record ID,Wildlife: Number Struck Actual,Aircraft: Number of engines?,Cost: Total $,Feet above ground,Number of people injured
count,24746.000000,24746.000000,24746.000000,2.474600e+04,24746.000000,24746.000000
mean,254487.694496,2.689324,2.001131,5.485378e+03,801.409197,0.000849
std,35581.348233,12.506269,0.362183,1.231464e+05,1736.659332,0.047987
min,200011.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000
25%,225829.250000,1.000000,2.000000,0.000000e+00,0.000000,0.000000
50%,248553.500000,1.000000,2.000000,0.000000e+00,50.000000,0.000000
75%,268974.750000,1.000000,2.000000,0.000000e+00,700.000000,0.000000
max,321909.000000,942.000000,4.000000,1.239775e+07,18000.000000,6.000000

In [33]:
data.shape 
data.index
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24746 entries, 0 to 24745
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                24746 non-null  int64
 1   Aircraft: Type                           24746 non-null  object
 2   Airport: Name                            24746 non-null  object
 3   Altitude bin                             24746 non-null  object
 4   Aircraft: Make/Model                     24746 non-null  object
 5   Wildlife: Number struck                  24746 non-null  object
 6   Wildlife: Number Struck Actual           24746 non-null  int64
 7   Effect: Impact to flight                 1995 non-null   object
 8   FlightDate                               24746 non-null  object
 9   Effect: Indicated Damage                 24746 non-null  object
 10  Aircraft: Number of engines?             24746 non-null  int64
 11  Aircraft: Airline/Operator               24746 non-null  object
 12  Origin State                             24746 non-null  object
 13  When: Phase of flight                    24746 non-null  object
 14  Conditions: Precipitation                1976 non-null   object
 15  Remains of wildlife collected?           24746 non-null  bool
 16  Remains of wildlife sent to Smithsonian  24746 non-null  bool
 17  Wildlife: Size                           24746 non-null  object
 18  Conditions: Sky                          24746 non-null  object
 19  Wildlife: Species                        24746 non-null  object
 20  Pilot warned of birds or wildlife?       24746 non-null  object
 21  Cost: Total $                            24746 non-null  int64
 22  Feet above ground                        24746 non-null  int64
 23  Number of people injured                 24746 non-null  int64
 24  Is Aircraft Large?                       24746 non-null  object
dtypes: bool(2), int64(6), object(17)
memory usage: 4.4+ MB

# Variable Description

Record Id: Unique Id for the incidents

Aircraft Type: Type of aircraft

Aircraft Name: Name of aircraft

Altitude Bin: Altitude of aircraft <1000 and >1000

Aircraft make Model: Model number of aircraft

Wildlife number struck: Number of wildlife struck in the aircraft

Wildlife number struck actual: Actual no. of wildlife struck

Effect impact to flight: Effect of impact on flight

Flight Date: Date of flight

Effect indicated damage: Whether damage is caused to aircraft or not

Aircraft no. of Engines: No. of engines in aircraft

Aircraft Airline Operator: Name of airline operator

Origin State: Origin state for the aircraft

When phase of flight: Phase of flight

Conditions Precipitation:

Remains of Wild Life Collected: Whether wild life remains collected or not

Remains of Wild life send to smitsonian: Whether wild life remains sent to Smithsonian

Wildlife Size: Size of the wildlife

Conditions Sky: Condition of the sky

Wildlife Species: Species of the wild life

Pilot warned of birds or wildlife: Whether the pilot is warned about the wildlife

Cost Total: Total cost incurred due to bird strike incidents

Feet above ground: Height of the plane during the incidents

Number of people injured: No. of people injured during the incidents

Is Aircraft large : whether the aircraft is large or not

In [35]:
# Checking duplicates and null values
data.duplicated().sum()  
data.isnull().sum()

Record ID                                      0
Aircraft: Type                                 0
Airport: Name                                  0
Altitude bin                                   0
Aircraft: Make/Model                           0
Wildlife: Number struck                        0
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   22751
FlightDate                                     0
Effect: Indicated Damage                       0
Aircraft: Number of engines?                   0
Aircraft: Airline/Operator                     0
Origin State                                   0
When: Phase of flight                          0
Conditions: Precipitation                  22770
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Wildlife: Size                                 0
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?             0
Cost: Total $                                  0
Feet above ground                              0
Number of people injured                       0
Is Aircraft Large?                             0
dtype: int64

In [36]:
# Deleting null values
data.dropna(subset=['Aircraft: Type'], inplace=True)
data.dropna(subset=['Aircraft: Number of engines?','Origin State'], inplace=True)

In [37]:
data.isna().sum()

Record ID                                      0
Aircraft: Type                                 0
Airport: Name                                  0
Altitude bin                                   0
Aircraft: Make/Model                           0
Wildlife: Number struck                        0
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   22751
FlightDate                                     0
Effect: Indicated Damage                       0
Aircraft: Number of engines?                   0
Aircraft: Airline/Operator                     0
Origin State                                   0
When: Phase of flight                          0
Conditions: Precipitation                  22770
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Wildlife: Size                                 0
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?             0
Cost: Total $                                  0
Feet above ground                              0
Number of people injured                       0
Is Aircraft Large?                             0
dtype: int64

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24746 entries, 0 to 24745
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                24746 non-null  int64
 1   Aircraft: Type                           24746 non-null  object
 2   Airport: Name                            24746 non-null  object
 3   Altitude bin                             24746 non-null  object
 4   Aircraft: Make/Model                     24746 non-null  object
 5   Wildlife: Number struck                  24746 non-null  object
 6   Wildlife: Number Struck Actual           24746 non-null  int64
 7   Effect: Impact to flight                 1995 non-null   object
 8   FlightDate                               24746 non-null  object
 9   Effect: Indicated Damage                 24746 non-null  object
 10  Aircraft: Number of engines?             24746 non-null  int64
 11  Aircraft: Airline/Operator               24746 non-null  object
 12  Origin State                             24746 non-null  object
 13  When: Phase of flight                    24746 non-null  object
 14  Conditions: Precipitation                1976 non-null   object
 15  Remains of wildlife collected?           24746 non-null  bool
 16  Remains of wildlife sent to Smithsonian  24746 non-null  bool
 17  Wildlife: Size                           24746 non-null  object
 18  Conditions: Sky                          24746 non-null  object
 19  Wildlife: Species                        24746 non-null  object
 20  Pilot warned of birds or wildlife?       24746 non-null  object
 21  Cost: Total $                            24746 non-null  int64
 22  Feet above ground                        24746 non-null  int64
 23  Number of people injured                 24746 non-null  int64
 24  Is Aircraft Large?                       24746 non-null  object
dtypes: bool(2), int64(6), object(17)
memory usage: 4.4+ MB

In [39]:
# changing dtype to category
cols = ['Aircraft: Type', 'Altitude bin', 'Wildlife: Number struck', 'Effect: Indicated Damage', 'Wildlife: Size', 'Conditions: Sky',
        'Pilot warned of birds or wildlife?', 'Is Aircraft Large?']

data[cols] = data[cols].astype('category')

In [40]:
# removing unwanted char from string and change dtype to int
data['Cost: Total $'] = data['Cost: Total $'].astype(str).str.replace('[^\d]', '', regex=True).astype('int64')
data['Feet above ground'] = data['Feet above ground'].astype(str).str.replace('[^\d]', '', regex=True).astype('int64')

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24746 entries, 0 to 24745
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                24746 non-null  int64
 1   Aircraft: Type                           24746 non-null  category
 2   Airport: Name                            24746 non-null  object
 3   Altitude bin                             24746 non-null  category
 4   Aircraft: Make/Model                     24746 non-null  object
 5   Wildlife: Number struck                  24746 non-null  category
 6   Wildlife: Number Struck Actual           24746 non-null  int64
 7   Effect: Impact to flight                 1995 non-null   object
 8   FlightDate                               24746 non-null  object
 9   Effect: Indicated Damage                 24746 non-null  category
 10  Aircraft: Number of engines?             24746 non-null  int64
 11  Aircraft: Airline/Operator               24746 non-null  object
 12  Origin State                             24746 non-null  object
 13  When: Phase of flight                    24746 non-null  object
 14  Conditions: Precipitation                1976 non-null   object
 15  Remains of wildlife collected?           24746 non-null  bool
 16  Remains of wildlife sent to Smithsonian  24746 non-null  bool
 17  Wildlife: Size                           24746 non-null  category
 18  Conditions: Sky                          24746 non-null  category
 19  Wildlife: Species                        24746 non-null  object
 20  Pilot warned of birds or wildlife?       24746 non-null  category
 21  Cost: Total $                            24746 non-null  int64
 22  Feet above ground                        24746 non-null  int64
 23  Number of people injured                 24746 non-null  int64
 24  Is Aircraft Large?                       24746 non-null  category
dtypes: bool(2), category(8), int64(6), object(9)
memory usage: 3.1+ MB